*.Rproj.user
*.Rhistory
*.RData
*.Ruserdata
*.Rproj
.Rproj.user

# Ignore image files
**/*.png
**/*.jpg
**/*.jpeg
**/*.gif
**/*.bmp
**/*.tiff
**/*.svg
**/*.webp


# Ignore compressed files
**/*.zip

**/*.tar
**/*.tar.gz
**/*.tgz
**/*.tar.bz2
**/*.tbz2
**/*.tar.xz
**/*.txz
**/*.rar
**/*.7z
**/*.gz
**/*.bz2
**/*.xz
**/*.lz
**/*.lzma
**/*.Z
**/*.zst



# Ignore common LaTeX auxiliary files
**/*.aux
**/*.log
**/*.out
**/*.toc
**/*.lof
**/*.lot
**/*.fls
**/*.fdb_latexmk
**/*.synctex.gz